body {
  margin: 0%;
  padding: 0%;
  background: #f1f1f1 !important;
}

button {
  border: none;
  background: none;
}

.navbar {
  width: 100%;
  padding: .5rem !important; 
  border-bottom: 1px solid black;
}

.btn-success {
  background-color: #4FBF26 !important;
}

.btn-danger {
  background-color: #ED1D24 !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Home Page */

.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

.events-container {
  .events-header {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
  }

  .event {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
  }

  .event-header {
    display: flex;
    justify-content: space-between;
  }

  .event-footer {
    border-top: 1px solid black;
    display: flex;
    justify-content: end;
  }

  .event-footer button {
    margin: 1rem 1rem 0 0;
  }
}

.create-event-btn {
  margin: 2rem;
  width: 50px;
  height: 50px;
  position: fixed;
  background-color: #0099ff;
  color: white;
  padding: 10px;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  outline: 0;
  font-size: xxx-large;
}

/* Calendar */

.calendar {
  padding: 1rem;
}

.react-calendar {
  width: 100% !important;
  padding: 1rem;
}

.selected-date {
  text-align: center;
}

/* Event Form */

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
  
.popup-inner {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.popup {

  h2 {
    text-align: center;
  }
  
  .btn {
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: 1rem;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button:focus {
    outline: none;
  }
  
  button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
  }
  
  form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    height: 100%;
    text-align: center;
  }
  
  input, textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  textarea {
    height: 200px;
  }

  .event-type {
    margin: 1rem;
  }

  .event-type label {
    margin: .5rem;
  }

  .event-type select {
    padding: .5rem;
  }

  @keyframes show {
    0%, 49.99% {
      opacity: 0;
      z-index: 1;
    }
    
    50%, 100% {
      opacity: 1;
      z-index: 5;
    }
  }
}

/* Responsivness */

@media (min-width:767.98px) {
  .navbar {
    padding: 0 !important;
  }
  
  .navbar-menu {
    margin-bottom: 0 !important;
  }
  
  .calendar-container {
    min-height: 85vh;
    border-right: 1px solid black;
  }

  .popup-inner {
    max-width: 540px !important;
  }
}

@media (max-width:570px) {
  .popup {
    input, textarea {
      width: 250px;
    }

    textarea {
      height: 100px;
    }
  }

  .popup-inner {
    padding: 10px;
    max-width: 300px;
  }

  .popup-inner .btn {
    margin: 1rem;
    padding: 10px 15px;
  }
  
  .popup-inner .event-type {
    margin: .5rem;
  }

  .popup-inner .event-type select {
    padding: .2rem;
  }
}